<div class="main-contact">
    <div class="socialMedia-contact">
        <h2>There are many ways someone could get a hold of me...
            Click the logo you like the most and you shall be taken to a profile page of mine!</h2>
       <ul>
           <li><a href="https://www.linkedin.com/in/augusto-tessmann-yunes-b0097a96/"><i class='fab fa-linkedin fa-5x'></i></a></li>
           <li><a href="https://github.com/tessmannaugusto"><i class='fab fa-github fa-5x'></i></a></li>
           <li><a href="http://instagram.com/tessmannyunes"><i class='fab fa-instagram fa-5x'></i></a></li>
       </ul>
    </div>
    <div class="message-contact">
        <h2>You could also send me an email directly through the section below, it will go straight to my inbox!</h2>
        <form>      
            <input name="name" type="text" class="feedback-input" placeholder="Name" />   
            <input name="email" type="text" class="feedback-input" placeholder="Email" />
            <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
            <input type="submit" value="SUBMIT"/>
          </form>
    </div>

    
</div>