<div class="main-contact">
    <div class="socialMedia-contact">
        <h2>There are many ways someone could get a hold of me...
            Click the logo you like the most and you shall be taken to a profile page of mine!</h2>
       <ul>
           <li><a href="https://www.linkedin.com/in/augusto-tessmann-yunes-b0097a96/"><mat-icon>linked</mat-icon></a></li>
           <li><a href="https://github.com/tessmannaugusto"></a></li>
           <li><a href="http://"></a></li>
       </ul>
    </div>
    <div class="message-contact">
        <h2>You could also send me an email directly through the section below, it will go straight to my inbox!</h2>
    </div>

    
</div>